<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902420926567-skbln8td3sg5di4bga5qqn4iadjtfbjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902420926567-skbln8td3sg5di4bga5qqn4iadjtfbjt</string>
	<key>API_KEY</key>
	<string>AIzaSyCZSupN6m_Z9n5g6-wbCNOFYkeF7I9U8lg</string>
	<key>GCM_SENDER_ID</key>
	<string>902420926567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abheri.trenchMac</string>
	<key>PROJECT_ID</key>
	<string>abheri-trench</string>
	<key>STORAGE_BUCKET</key>
	<string>abheri-trench.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902420926567:ios:93ae5c51be4d27c9c7c4c2</string>
</dict>
</plist>