<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255718331810-h7fbr7o3j6674p41sv72pd6evcs4iulr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255718331810-h7fbr7o3j6674p41sv72pd6evcs4iulr</string>
	<key>API_KEY</key>
	<string>AIzaSyCnYsLAGGv_sBZOjvbDrjSJcb5wV1UHq3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>255718331810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abheri.protrack</string>
	<key>PROJECT_ID</key>
	<string>abheri-protrack</string>
	<key>STORAGE_BUCKET</key>
	<string>abheri-protrack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255718331810:ios:803751a83ed66de5fa4efb</string>
</dict>
</plist>