<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403828143958-90mqj0u18fm4taplfqkchm4934jlk7tr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403828143958-90mqj0u18fm4taplfqkchm4934jlk7tr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>403828143958-2i5qnshg4e63fudkvaa5chv2qk9jv2sj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDR2x6QgPS_SeIv9AbKw0Rm5qb7HQxfYJE</string>
	<key>GCM_SENDER_ID</key>
	<string>403828143958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abheri.whereWhat</string>
	<key>PROJECT_ID</key>
	<string>where-what</string>
	<key>STORAGE_BUCKET</key>
	<string>where-what.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403828143958:ios:f86ecc18961c7f2a4908f7</string>
</dict>
</plist>