<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328694956157-1u7qfu0pmgckajvisb7hjc8crhqhjjg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328694956157-1u7qfu0pmgckajvisb7hjc8crhqhjjg2</string>
	<key>API_KEY</key>
	<string>AIzaSyCDAr18bDTSV-GikXj0SEWdFBF_UsFyHZA</string>
	<key>GCM_SENDER_ID</key>
	<string>328694956157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abheri.jotted-mac</string>
	<key>PROJECT_ID</key>
	<string>jotted-up</string>
	<key>STORAGE_BUCKET</key>
	<string>jotted-up.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328694956157:ios:6a40b9234be8e15585f114</string>
</dict>
</plist>