<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861558489692-tfqgho4bcdp0r178n3sp7a2o2evtmua7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861558489692-tfqgho4bcdp0r178n3sp7a2o2evtmua7</string>
	<key>API_KEY</key>
	<string>AIzaSyAuxzreL-uqMwqeN9cm-McTFNyKWo411ko</string>
	<key>GCM_SENDER_ID</key>
	<string>861558489692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abheri.chalkBoard</string>
	<key>PROJECT_ID</key>
	<string>chalkboard-teamabheri</string>
	<key>STORAGE_BUCKET</key>
	<string>chalkboard-teamabheri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861558489692:ios:0817d93a6eecd079755c99</string>
</dict>
</plist>